<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div><img src="/<%=src%>"></div><br>
      <h3><b><%=id%>님 환영합니다!</b></h3>
      <br>
      <div>비밀번호: <%=pw%></div>
      <div>이름: <%=name%></div>
      <div>나이: <%=age%></div>
    </div>




  </body>
</html>