<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ejs문법에서는 백엔드에서 선언한 변수를 가져옴 -->
    <%=name%><br>
    <%=gender%><br>
    <%=yy%>년<%=mm%>월<%=dd%>일
    <%=hobby%><br>
    <%=color%><br>
    <%=number%><br>
</body>
</html>