<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  ejs 태그 안에 오는 자바스크립트 코드는 한줄로 끝나야 함. -->
    <!-- ejs 태그 안에 바로 = 이 오면 = 뒤에 있는 변수나 값을 html로 노출 시킨다. -->
    <%= name %>
    <%-include("index.ejs") %>

    <$for (let i = 0; i < product.length; i++) { %>
    <div>상품 <%=product[i] %> </div>
    <$ } %>

    <!-- ejs 태그 안에 바로 = 이 오면 = 뒤에 있는 변수나 값을 html로 노출 시킨다.(html 태그를 인식함) -->
    <%= "hello lily" %>
    <!-- ejs 태그 안에 바로 = 이 오면 = 뒤에 있는 변수나 값을 html로 노출 시킨다.(html 태그를 인식함) -->
    <%="<div>안녕?</div>%">
    



  <script>
      //백엔드에서 넘겨준 product라는 변수는 ejs 태그 내에서만 사용할 수 있는 
      console.log(product) //
  </script>


</body>
</html>